{% extends "base_auth.html" %}

{% block title_auth %}Verifique seu E-mail{% endblock %}
{% block subtitle_auth %}Instruções Enviadas{% endblock %}

{% block content_auth %}
    <div class="text-center">
        <p>
            Enviamos um link de redefinição de senha para o seu e-mail. Por favor, verifique sua caixa de entrada e spam.
        </p>
    </div>
{% endblock %}

{% block footer_auth %}
    <p>
        <a href="{% url 'accounts:login' %}">Voltar para o login</a>
    </p>
{% endblock %}
