{% extends "base_auth.html" %}

{% block title_auth %}Defina sua Nova Senha{% endblock %}
{% block subtitle_auth %}Quase lá!{% endblock %}

{% block content_auth %}
    {% if validlink %}
        <p>Por favor, digite sua nova senha duas vezes para confirmar.</p>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="d-grid mt-4">
                <button type="submit" class="btn-gerar-link">Alterar Senha</button>
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            O link para redefinição de senha é inválido ou já foi utilizado. Por favor, <a href="{% url 'accounts:password_reset' %}" class="alert-link">solicite uma nova redefinição</a>.
        </div>
    {% endif %}
{% endblock %}
