{% extends "base_auth.html" %}

{% block title_auth %}Crie sua Conta{% endblock %}
{% block subtitle_auth %}Preencha seus dados{% endblock %}

{% block content_auth %}
    <form method="post" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-floating mb-3">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.errors %}
                    <div class="invalid-feedback d-block">
                        {{ field.errors.as_text }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="d-grid mt-4">
            <button type="submit" class="btn-gerar-link">
                <i class="bi bi-person-plus-fill me-2"></i>
                Cadastrar
            </button>
        </div>
    </form>
{% endblock %}

{% block footer_auth %}
    <p>
        Já tem uma conta? <a href="{% url 'accounts:login' %}">Faça login</a>
    </p>
{% endblock %}
